.calculator {
    background-color: #000;
    color: #fff;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.icon-btn img {
    width: 20px;
    height: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
}

button.green {
    background-color: #4CAF50;
}

button.red {
    color: red;
}

#historybutton{
    width:40px;
    height:40px;
    border-radius: 20px;
    cursor: pointer;
}

#history{
    position: absolute;
    width:90%;
    height: 80vh;
    top:10vh;
    background-color: white;
    border: 6px solid black;
    border-radius: 10px;
    display: none;
    /* overflow-y: scroll; */
}

.historyelement{
    color: black;
    margin: 20px;
    font-size: 40px;
}

#bar1, #bar2{
    position: absolute;
    width:30px;
    height: 4px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 93%;
    transform: rotate(45deg);
    cursor: pointer;
    display: none;
}

#bar2{
    transform: rotate(135deg);
}

@media (orientation: landscape) and (max-height: 500px) {
    #turn {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: rgba(52, 73, 94, 1.0);
        background-color: rgba(236, 240, 241, 1.0);
    }
}

@media (max-width: 700px) {
    td button{
        font-size: 18px;
        font-weight: 600;
    }
}
